.Header {
    position: flex;    
    margin-top: 70px;
    max-height: 70px;
    min-height: 60px;
    width: 100%;
    margin-bottom: 1%;
  
    display: grid;
    grid-template-areas: "nav logo"; 
  
    
    background-color: #282c34;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    z-index: 3;
    font-family: Porpora;
  }
  
  .Nav {
    display: grid;
    grid-area: nav;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    justify-items: center;
    z-index: 4;    
  }

  #navSections {
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    transition: 0.5s;
    text-decoration: none;
    text-transform: none;
    font-family: Porpora;
    
    
  }
  #navSections:hover {
    transform: translateY(3px);
    transition: 0.2s;
    
  }



  #myButton {
    border-radius: 20px;
    outline: none;
    border: none;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    background-color: rgba(255, 0, 0, 0.5);
    box-shadow: 1px 1px 15px 0px #000000;
   -webkit-box-shadow: 1px 1px 150px 0px #000000;
   -moz-box-shadow: 1px 1px 15px 0px #000000;
   text-shadow: 1px 1px 15px #000000;
    cursor: pointer;
    transition: 70ms;
    width: 70px;
    height: 40px;
    margin-top: 2%;
    justify-self: end;
    margin-right: 7%; 
    font-family: Porpora;  
    padding-right: 70px; 
  }
  
  #myButton:active {
    transform: translateX(10px);
    box-shadow: 1px 1px 15px 0px #000000;
   -webkit-box-shadow: 1px 1px 150px 0px #000000;
   -moz-box-shadow: 1px 1px 15px 0px #000000;
   text-shadow: 1px 1px 15px #000000;
  }
  
  .Book {
    display: none;
    grid-area: book;
    margin: 0 20px 0 0;
    padding: 0;
    justify-self: end;
    font-size: 40px;
    border: none;
    background: none;
    outline: none;
    transition: 0.1s;
  }
  .Book:active {
    transform: scale(1.2);
  }
  
  @media (max-width: 700px) {
    .Header {
      grid-template-areas: "logo book" "nav nav";
    }
    .Nav {
      grid-template-rows: repeat(4, auto);
      grid-template-columns: none;
      grid-row-gap: 20px;
  
      padding: 30px 0 30px;
      background: rgba(40, 44, 47, 0.95);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
    .Book {
      display: inline;
    }
    #myButton {
      outline: none;
      border: none;
      font-size: 20px;
      color: #fff;
      font-weight: 600;
      background-color: rgba(255, 0, 0, 0.5);
     
      border-radius: 50px;
      cursor: pointer;
      transition: 70ms;
      width: 70px;
      height: 40px;
      margin-top: 4%;
      justify-self: start;
      margin-left: 5%;    
    }
  }
  
  .NavAnimation-enter {
    opacity: 0;
    transform: scale(0.5);
  }
  .NavAnimation-enter-active {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 350ms, transform 350ms;
  }
  .NavAnimation-exit {
    opacity: 1;
  }
  .NavAnimation-exit-active {
    opacity: 0;
    transform: scale(0.5);
    transition: opacity 350ms, transform 350ms;
  }


#textLogInFirst {
  border: 'none';
  color: 'white';
  text-emphasis: none;
}
  

/* -------------LogIn------------------------------------- */
  

#titleLogIn {
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  
  background: linear-gradient(to right, #6f0000, #200122);
  color: white;
  max-width: 400px;
  max-height: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: solid 0.1px;
  font-family: 'Porpora' !important;  
  padding:20px;
  margin: 0;
  
}

#emailsLogIn{
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  
  background: linear-gradient(to right, #6f0000, #200122);
  color: white;
  max-width: 400px;
  max-height: 200px;

  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-family: 'Porpora';
  

}

#inputUsername {
  border-radius: 4px;
  border: none;
  margin-bottom: 6px;
  height: 27px;
  font-family: 'Porpora';

}


.cardFooter {
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  
  background: linear-gradient(to right, #6f0000, #200122);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-bottom: 20px;
  color: white;
  font-family: 'Porpora';


}

#singUp {
  color: white;
  font-family: 'Porpora';
}


/* ---SectionDialogs---------------------- */  

#sectionDialogTitle {
  font-family: Porpora;
  text-align: center;
  background-color: black;
  color: white;
  margin: 0;
  padding: 15px;


}

#contentSectionDialog {
  font-family: Porpora;
  text-align: center;
  margin-top: 5%;


}


#buttonSectionDialog {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
  font-family: Porpora;

}
#buttonSectionDialog:hover {
  background-color: #0d0d0d;
}
#buttonSectionDialog:focus {
  outline: 1px dashed rgb(99, 24, 24);
  outline-offset: 3px;
}