.barraTop {

  background: #200122;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */  
  
 
  
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-indent: 10pt;  
  font-size: 1vmin;
  color: white;
  padding-top: 20px;
  padding-right: 20px;
  text-align: left;


}


#horario{

  padding-top: 5px;
  padding-bottom: 20px;
  padding-left: 7px




}


.redes{
  float: left;
  margin-left: 200px;
  margin-top: -49px;
  padding-top: -40px;
  
 
}