.opos ul {
    display: inline-block;
    float:left;
    padding:10px;
    flex-direction: right;
    justify-content: left;
    text-align: center;
  }
   
.opo li {
  display: inline;
  text-align: center;
  margin: 0 10px 0 0;

}
  
