  
.maincontainer {
  position: relative;
  width: 280px;
  height: 300px;
  
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  
}

.thecard:hover{
  transform: rotateY(180deg);
  
}

.thefront{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background: none;
  color: #333;
  border: none;
}

.theback{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background:#e7a61a;
  color: #333;
  transform: rotateY(180deg);
  -webkit-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 5px -7px rgba(0,0,0,0.75);
  border-radius: 10px;
}




#opo1h1 { 
  font-size: 25px;
  color: #FFFFFF;
  font-weight: 700;  
  text-align: top;
  padding: 20px;
  margin-left: -24px;
  text-shadow: black;
  box-shadow: rgba(0,0,0,0.75);
}

#opo1h2 {
  text-decoration: none;
  font-size: 21px;
  color: rgb(141, 48, 48);
  font-weight: 700;
  margin-left: -20px;
  padding-bottom: 50px;
  margin-bottom: 50px;
}

#opo1h3 {
  text-decoration: none;
  font-size: 21px;  
  color: rgb(141, 48, 48);
  font-weight: 700;  
  margin-left: -20px;  
  padding-top: 150px;
}

.todas {
  display: flex;

}