@import url('https://fonts.googleapis.com/css?family=Cardo:400i|Rubik:400,700&display=swap');
 :root {
	 --d: 700ms;
	 --e: cubic-bezier(0.19, 1, 0.22, 1);
	 --font-sans: 'Rubik', sans-serif;
	 --font-serif: 'Cardo', serif;
}

.App {
	width: 90%; /* Deja márgenes (hay que poner margin auto también) a los lados sin tocar el drawer */
	margin: 0 auto; /* Hace posible los márgenes y que la web se centre */  
	max-width: 3100px;/*  El ancho máximo que tendrá nuestra web, por muy grande que se vea la pantalla, de ésta manera no se deformarán nuestro elementos al alargarse demasiado */
	-webkit-box-shadow: 0px 6px 15px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 15px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 15px 4px rgba(0,0,0,0.75);
	margin-top: 0.01%;
}
  

@media (max-width: 700px) {
    .App {
      width: 100%;
	}
}