.slide-container {
    width: 70%;
    margin: auto; 
}
  
h3 {
    text-align: center; }
  
  .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    height: 450px;
  }
  
  .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
  }
  
  .each-fade {
    display: flex;
  }
  
  .each-fade .image-container {
    width: 75%;
    overflow: hidden;
  }
  
  .each-fade .image-container img {
    width: 100%;
    
  }
  
  .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
  }



 


  .sliderTitle {
    color: white;
    text-align: center;
    font-family: Porpora;
  }

  .textContainer {
    padding: 20px;
    border-bottom: solid;


  }

  .textContainer:hover{
    background: linear-gradient(95deg, rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 
    border-radius: 9px;
    font-weight: bold;
    z-index: -1;
    padding: 20px;
  }

  .textContainer:hover p{
    font-weight: bolder;
    color: white;    
  }


  .sliderSub{
    color: white;
    text-align: center;
    font-family: Porpora;
  }

#mySecButton {  
  cursor: pointer;	 
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
  border: none;
  
	font-family: Porpora;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
  
}

#buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  

}


@media (max-width: 700px) {

.textContainer{

background: linear-gradient(95deg, rgba(0,0,0,0.65) 100%,rgba(0,0,0,0) 100%); 

}
}




/* ----------------Dialogs----------------------- */

#titleDialogSlider {
  background: -webkit-linear-gradient(to right, #6f0000, #200122);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #6f0000, #200122);
  font-family: 'Porpora';

}

#titleDialogSliderText {
  background: black;
  color: white;
  text-align: center;
  font-family: Porpora;
  margin:0;
  padding:20px;
  


}

#subDialogSliderText{
  font-family: Porpora;
  text-align: center;
  margin-top:3%;
  margin-bottom: 6%;


}

#textFieldSliderDialog {
  color: black;
  font-family: Porpora;
  
}

#myButtonDialogSlider {
  cursor: pointer;	 
	padding: 0.75rem 1.5rem;
	font-size: 0.65rem;
	font-weight: bold;
	letter-spacing: 0.025rem;
	text-transform: uppercase;
	color: white;
	background-color: black;
  border: none;
  
	font-family: Porpora;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  justify-self: center;
  align-self: center;
}
